modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
SMTP_HOST = "smtp.gmail.com"
SMTP_PORT = "465"
SMTP_USER = "planaction2026@gmail.com"
SMTP_PASS = "8631191844Sa+"
EMAIL_FROM = "SOMELEC Plans d'Action <planaction2026@gmail.com>"
